*,
*::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: azure;
}
h1 {
  text-align: center;
  padding: 40px 0;
}
a {
  padding-bottom: 25px;
}
