* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: rgb(53, 49, 49);
  overflow: auto;
}
.container {
  max-width: 1000px;
  margin: auto;
}
li {
  float: right;
  margin-right: 25px;
  list-style-type: none;
  padding-top: 23px;
  color: white;
}
a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.logo {
  float: left;
  padding: 10px;
}
.first__part {
  background-color: rgb(150, 163, 173);
}
h1 {
  padding-top: 90px;
  font-size: 40px;
}
button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: rgb(58, 66, 66);
  border-radius: 5px;
  margin-bottom: 110px;
}
button a {
  font-size: 12px;
  color: rgb(208, 195, 195);
}
.main__img {
  float: left;
  padding: 30px 10px 30px 0px;
  width: 200px;
}
.main__text {
  padding-top: 70px;
}
.clear {
  clear: both;
}
footer {
  background-color: rgb(53, 49, 49);
  color: white;
  height: 100px;
}
footer p {
  line-height: 100px;
  text-align: right;
}
